.Navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 30%;
  max-width: 70rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.logo {
  padding-left: 1rem;
  text-transform: uppercase;
  color: var(--white);
}

.links {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--maroon);
  width: 40%;
}

.links .link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;
  margin: 0.5rem 0;
}

.links .link:hover,
.logout:hover {
  color: var(--white);
}

@media (hover: none) {
  .links .link:hover,
  .logout:hover {
    color: var(--maroon);
  }
}

.button {
  background-color: transparent;
  border: none;
}

.link {
  text-decoration: none;
}

.linkText {
  font-size: 1rem;
  font-weight: bold;
  flex: 2;
}

.linkIcon {
  flex: 1;
}

.logout {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  transition: all 0.2s ease-out;
}

.logout .linkIcon {
  margin-right: 0.5rem;
}
