:root {
  --gold: #ffb94f;
  --light-gold: #feefd3;
  --maroon: #8a0102;
  --white: #fff;
  --gray: gray;
  --orange: #ff6300;
  --border-radius: 1rem;
}

::selection {
  color: var(--maroon);
  background-color: var(--gold);
}

:disabled {
  opacity: 0.5;
}

:hover:disabled {
  cursor: not-allowed;
}

button {
  cursor: pointer;
  color: inherit;
}

a:visited,
a:link {
  color: inherit;
}

.layout {
  display: flex;
}

.navbar {
  flex-basis: 30%;
  height: 100vh;
  position: relative;
  background-color: var(--gold);
}

.content {
  flex-basis: 70%;
  background-color: var(--light-gold);
}
